@model CartViewModel

@{
    ViewData["Title"] = "Корзина";
}

<div class="cart">

    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Disk.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Disk.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entries[0].Total)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Entries)
        {
            <tr>
                <td class="cart__cell-name">
                    @Html.DisplayFor(modelItem => item.Disk.Name)
                </td>
                <td>
                    @item.Disk.Price.ToString("0") ₽
                </td>
                <td>
                    <a class="cart__decrease" tabindex="0" data-id="@item.Disk.Id">-</a>
                    @Html.DisplayFor(modelItem => item.Count)
                    <a class="cart__increase" tabindex="0" data-id="@item.Disk.Id">+</a>
                </td>
                <td>
                    <span class="cart__entry-total">@(item.Total.ToString("0")) ₽</span>
                </td>
                <td>
                    <a class="cart__remove" tabindex="0" data-id="@item.Disk.Id">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="cart__result">
        <h4 class="cart__total">
            Сумма:
            <span class="cart__total-sum">
                @Model.Total.ToString("0")
            </span>
            ₽
        </h4>

        <button class="mvc-button">
            Оформить покупку
        </button>
    </div>

</div>
