@model IEnumerable<Mvc.Models.Disk>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeGb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WriteSpeedMbps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadSpeedMbps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Form)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeGb) ГБ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WriteSpeedMbps) МБ/с
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadSpeedMbps) МБ/с
            </td>
            <td>
                @item.Price.ToString("0") ₽
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Form)
            </td>
        </tr>
}
    </tbody>
</table>
